mat-toolbar {
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

mat-toolbar .links {
  display: flex;
  align-items: center;
}

mat-toolbar .links a {
  padding: 5px 10px;
  text-decoration: none;
  color: #fff;
  font-weight: 300;
}
